h1{
	font-size: 40px;
	font-family: impact;
	/*text-decoration: blink;*/
}

/*.banniere{
	max-height: : 300px;
	max-width: : 180px;
	background-image: url("fruit_legume.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed;
	text-align: center;*/
}


header{
	background-image: url("fruits_legumes.jpg");
}

mark{
	color: orange;
	background-color: transparent;
	font-size: 30px;
	text-decoration: underline;
}

body{
	background-image: url("carottes.jpg"); 
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

header ul
{
	display: flex;
	list-style: none;
}

header li
{
	margin-right: 400px;

}

hgroup {
    text-align: center;
    font-family: Verdana, sans-serif;
    padding-right: 16px;
    border-right: 10px solid #00c8d7;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: .5rem;
}


p {
    font-family: 'Fira Sans', sans-serif;
}

.test{
	background-color: white;
}

.accueil
{
	display: flex;
	justify-content: flex-start;
}

.accueil a{
	color: white;

}

.haut a{
	color: white;
}
/*.haut{
	display: flex;
	justify-content: flex-start;
}*/

.saisons {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.saisons > h1,
.les4 {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.les4 {
    background: right/contain content-box border-box no-repeat
        url("carotte.jpg") white;
}

.les4 > h2,
.les4 > p {
    margin: .2rem;
    font-size: 1rem;
}


